@import "../scss/_var.scss";

$my-purple: #8d437f;
$my-green: #a0c33f;

body {
  background: $white;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.navbar-fixed-top {
  background-color: #fff;
  height: 80px;

  .container {
    width: 100%;
    padding: 0 5%;
  }
}

.navbar .nav {
  margin-top: -60px;

  & > li {
    float: left;

    a {
      color: $my-green;
      cursor: pointer;
    }
  }
}

.gradient {
  -webkit-background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
  -ms-background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
  -moz-background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
  -o-background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
  background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
}

#leftSide {
  width: 40%;
  background-color: $my-purple;

  .h-content {
    top: 80px;
    margin-top: 40px;
  }

  .project_info li {
    display: none;

    .project_content {
      background-color: $my-purple;
      margin-top: -400px;
      height: 400px;

      p {
        font-size: 14px;
      }

      h1 {
        margin-top: 45px;
      }

      h4 {
        font-size: 18px;
      }
    }
  }
}

#rightSide {
  width: 60%;
  left: 40%;

  .project {

    .close {
      background: $my-purple;
    }

    .project_info {
      width: 60%;
      left: 40%;
    }

    .item .caption .view {
      background-color: $my-purple;
      width: auto;
      line-height: 1.5;
    }

    .project_info .project_content {

      .img-holder {
        margin-bottom: 100px;
        
        img {
          width: auto;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .img-shadow {
        box-shadow: 0 12px 32px rgba(0,0,0,0.25);
      }
    }
  }
}
