@import "../scss/_var.scss";

$my-purple: #8d437f;
$my-green: #a0c33f;

body {
  background: $white;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.padding-left-0 {
  padding-left: 0 !important;
}

p a {
  color: $my-purple;

  &:hover {
    color: $my-purple;
    opacity: 0.8;
    cursor: pointer;
  }
}

a.btn:hover {
  opacity: 0.8 !important;
}

.navbar-fixed-top {
  background-color: #fff;
  height: 80px;

  .container {
    width: 100%;
    padding: 0 5%;
  }
}

.navbar .nav {
  margin-top: -60px;

  & > li {
    float: left;

    a {
      color: $my-green;
      cursor: pointer;
    }
  }
}

.gradient {
  -webkit-background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
  -ms-background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
  -moz-background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
  -o-background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
  background: linear-gradient(rgba(177, 75, 201, 0.95), rgba(141, 67, 127, 1));
}

#leftSide {
  width: 40%;
  background-color: $my-purple;

  .h-content {
    top: 80px;
    margin-top: 40px;
  }

  .project_info li {
    display: none;

    .project_content {
      background-color: $my-purple;
      margin-top: -400px;
      height: 500px;

      p strong {
        /*font-size: 14px;*/
        font-weight: 800;
      }

      h1 {
        margin-top: 45px;
      }

      h4 {
        /*font-size: 18px;*/
        font-weight: 300;
      }
    }
  }
}

.social_icons li i:hover {
  color: #fff;
  opacity: 0.7;
}

#rightSide {
  width: 60%;
  left: 40%;

  .project {
    padding-bottom: 0;

    .close {
      background: $my-purple;
    }

    .project_info {
      width: 60%;
      left: 40%;
    }

    .item .caption {

      .btn-sm {
        background: $my-purple;
        width: auto;
        line-height: 1.5;

        &.btn-green {
          background: $my-green;
        }
      }
    }

    .project_info .project_content {

      .img-holder img {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .img-shadow {
        box-shadow: 0 12px 32px rgba(0,0,0,0.25);
      }
    }
  }
}

#contact {
  background-color: $my-green;

  h2, p {
    color: #fff;
  }

  p {
    /*font-size: 18px;*/
    font-weight: 600;
  }

  #contact_form .submit {
    background: transparent;
    color: #fff;
    /*font-size: 16px;*/
    font-weight: 800;
    padding-top: 5px;
    border: 2px solid #fff;

    &:hover {
      border: 2px solid $my-purple;
      background: $my-purple;
    }
  }
}

.about {

  p {
    /*font-size: 18px;*/
  }

  li {
    color: #666666;
    margin-bottom: 10px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

footer {
  background: $my-green;

  .uppercase {
    font-size: 11px;
    margin-right: 20px;
  }

  span {
    font-size: 15px;
  }
}

@media only screen and (min-width: 2500px) {

  #contact #contact_form .submit {
    padding-top: 10px;
  }

  footer {

    .uppercase {
      font-size: 18px;
    }

    span {
      font-size: 24px;
    }
  }

  #leftSide .project_info li .project_content {
    margin-top: -600px;
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2499px) {

  #rightSide .project .item .caption .btn-sm {
    line-height: 1.2;
  }

  footer {

    .uppercase {
      font-size: 16px;
    }

    span {
      font-size: 22px;
    }
  }

  #leftSide .project_info li .project_content {
    margin-top: -512px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1999px) {

  #leftSide .project_info li .project_content {
    margin-top: -413px;
  }

  .project_content h4 {
    font-size: 20px;
  }

  #rightSide .project .item .caption .btn-sm {
    font-size: 14px;
    line-height: 1.2;
  }

  p,
  .about li {
    font-size: 20px;
  }

  h3 {
    font-size: 26px;
  }

  #contact #contact_form .submit {
    font-size: 16px;
  }

  footer {

    .uppercase {
      font-size: 14px;
    }

    span {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 1599px) {

  p,
  .about li {
    font-size: 16px;
  }

  #contact #contact_form .submit {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {

  p,
  .about li {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1026px) and (max-width: 1099px) {

  #leftSide .project_info li .project_content {
    margin-top: -468px;
  }
}

@media only screen and (min-width: 1026px) and (max-width: 1080px) {

  h2 {
    font-size: 28px;
  }
}

@media only screen and (min-width: 1025px) {

  .small-view {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {

  .small-view {
    display: block;
  }
}

@media only screen and (max-width: 768px) {

  #contact_form div.text-area {
    padding-left: 0;
  }
}

@media only screen and (max-width: 450px) {

  h3 {
    font-size: 18px;
  }

  .social_icons li,
  h4 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {

  .about {

    .row {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }

    .col-xs-4 {
      padding-left: 7.5px;
      padding-right: 7.5px;
    }
  }

  footer span.custom {
    display: block;
  }
}
