body {
  background: white; }

.margin-top-0 {
  margin-top: 0 !important; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.navbar-fixed-top {
  background-color: #fff;
  height: 80px; }
  .navbar-fixed-top .container {
    width: 100%;
    padding: 0 5%; }

.navbar .nav {
  margin-top: -60px; }
  .navbar .nav > li {
    float: left; }
    .navbar .nav > li a {
      color: #a0c33f;
      cursor: pointer; }

.gradient {
  -webkit-background: linear-gradient(rgba(177, 75, 201, 0.95), #8d437f);
  -ms-background: linear-gradient(rgba(177, 75, 201, 0.95), #8d437f);
  -moz-background: linear-gradient(rgba(177, 75, 201, 0.95), #8d437f);
  -o-background: linear-gradient(rgba(177, 75, 201, 0.95), #8d437f);
  background: linear-gradient(rgba(177, 75, 201, 0.95), #8d437f); }

#leftSide {
  width: 40%;
  background-color: #8d437f; }
  #leftSide .h-content {
    top: 80px;
    margin-top: 40px; }
  #leftSide .project_info li {
    display: none; }
    #leftSide .project_info li .project_content {
      background-color: #8d437f;
      margin-top: -400px;
      height: 400px; }
      #leftSide .project_info li .project_content p {
        font-size: 14px; }
      #leftSide .project_info li .project_content h4 {
        font-size: 18px; }

#rightSide {
  width: 60%;
  left: 40%; }

.project .close {
  background: #8d437f; }
.project .project_info {
  width: 60%;
  left: 40%; }
.project .item .caption .view {
  background-color: #8d437f;
  width: auto;
  line-height: 1.5; }
